@media screen and (max-width: 560px) {
  .main-container {
    padding-top: 72px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-container__menu {
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__form {
    gap: 24px 0;
    padding-left: 32px;
    padding-right: 32px;
    width: 257px;
    border-radius: 30px 30px 0 0;
  }
  
  .menu__title {
    margin-top: 62px;
  }

  .menu__button {
    margin-top: 8px;
    width: 116px;
    height: 48px;
    font-size: 15px;
    padding-left: 16px;
    background-position: 78px 50%;
  }

  input {
    width: 210px;
    height: 40px;
    padding-left: 48px;
  }

  input.input__email {
    background-position: 16px 50%;
  }

  input.input__lock {
    background-position: 16px 50%;
  }

  .password_button-check {
    width: 25px;
    height: 20px;
    margin-right: 10px;
  }

  .input__form {
    width: 256px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: 72px;
    padding-left: 0;
    padding-right: 75px;
  }
}
@media screen and (min-width: 560px) {
  .main-container {
    background-size: auto;
  }
}
