@media screen and (max-width:560px) {
    .main-container{
        padding-top: 72px;
        background-repeat: no-repeat;
        background-size: contain;
       }

    .main-container__menu{
        border-radius:30px 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__form{
        gap:24px 0;
        padding-left: 32px;
        padding-right: 32px;
        width: 257px;
        border-radius:30px 30px 0 0;
    }
    .menu__title{
        margin-top: 32px;
    }

    .menu__returnPage{
        
        margin-top: 32px;
        cursor: pointer;
    }
    
    .menu_returnPage__group{
        display: flex;
        flex-direction: row;
        gap:0 16px
    
    }
}
